@import "tailwindcss";
@plugin '@tailwindcss/typography';
@variant dark (&:where(.dark, .dark *));


/* Typography customizations */

.prose {
    @apply prose-h2:underline prose-h2:decoration-emerald-500/80 prose-h2:decoration-2 prose-h2:underline-offset-4 prose-h2:decoration-wavy;
    @apply prose-h3:underline prose-h3:decoration-sky-500/80 prose-h3:decoration-2 prose-h3:underline-offset-4 prose-h3:decoration-wavy;
    @apply prose-a:text-blue-600 prose-a:dark:text-blue-50 prose-a:hover:text-blue-500/80 prose-a:decoration-wavy prose-a:decoration-2 prose-a:underline-offset-4 prose-a:decoration-blue-500/80;
    @apply prose-img:mx-auto prose-img:rounded-lg prose-img:shadow-lg;

    /* Inline code block */
    :not(pre) > code {
        @apply font-normal;
        @apply before:hidden after:hidden;
        @apply rounded py-0.5 px-1 mx-1;
        @apply outline-1 outline-violet-500 dark:outline-violet-700;
    }

    /* The code block */
    pre {
        @apply bg-blue-500/20! border border-blue-500/30! rounded-lg;
    }

    blockquote > p {
        &::before,
        &::after {
            display: none;
        }
    }

    /* Heading anchors */
    h1:hover .heading-anchor,
    h2:hover .heading-anchor,
    h3:hover .heading-anchor,
    h4:hover .heading-anchor,
    h5:hover .heading-anchor,
    h6:hover .heading-anchor {
        opacity: 1;
    }

    .heading-anchor {
        text-decoration: none;
        margin-left: 0.3em;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        color: inherit;
        font-weight: normal;
        
        .icon-link {
            color: oklch(0.6 0.1 230);
            font-size: 0.8em;
        }

        .dark & .icon-link {
            color: oklch(0.8 0.1 230);
        }
        
        &:hover {
            opacity: 1;
            text-decoration: none;
        }
    }
}

.max-w-prose {
    max-width: 80ch;
}

/* Global styles */

body {
    font-family: "Inter Variable", sans-serif;

    @apply bg-neutral-50 dark:bg-neutral-900 text-neutral-950 dark:text-neutral-50;
    @apply antialiased scroll-smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Bricolage Grotesque Variable", sans-serif;
}

.font-inter {
    font-family: "Inter Variable", sans-serif;
}

.font-bricolage {
    font-family: "Bricolage Grotesque Variable", sans-serif;
}

/* Shiki themes for code highlighting */
.dark .astro-code,
.dark .astro-code span {
  color: var(--shiki-dark) !important;
  /* background-color: var(--shiki-dark-bg) !important; */
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}