---
import ProjectCard from "@/components/ProjectCard.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Tag from "@/components/Tag.astro";

import projectsData from "@/data/projects.json";
import { Icon } from "astro-icon/components";
---

<BaseLayout title="Pavitra's Metaverse" description="Pavitra's Metaverse">
  <div class="pattern-background dark:text-white">
    <section
      class="grid min-h-screen place-items-center px-8 py-24 sm:py-32 lg:px-16"
    >
      <div>
        <h1 class="text-3xl md:text-5xl rounded-xl leading-normal">
          <p>Hello World! 👋</p>
          <p>
            I'm <span class="text-green-500 dark:text-green-300 text-glow-green font-bold">Pavitra Golchha</span>
          </p>
          <p>
            You may know me as <span class="text-blue-500 dark:text-blue-300 text-glow-blue font-bold">pavi2410</span>
          </p>
        </h1>

        <div class="text-2xl mt-8 font-bricolage">
          <p>discover everything about me and my creations right here.</p>
          <p>enjoy your stay here :)</p>
        </div>

        <div class="flex flex-wrap font-semibold mt-16 -ml-4">
          <a href="/blog">
            <button
              class="bg-yellow-500 hover:bg-yellow-600 text-black m-4 py-3 px-4 rounded-lg shadow-2xl shadow-yellow-500 hover:-translate-y-2 transition-all"
            >
              Read my blogs
            </button>
          </a>
          <a href="#about">
            <button
              class="bg-emerald-500 hover:bg-emerald-600 m-4 py-3 px-4 rounded-lg shadow-2xl shadow-emerald-500 hover:-translate-y-2 transition-all"
            >
              About me
            </button>
          </a>
          <a href="#projects">
            <button
              class="bg-blue-500 hover:bg-blue-600 m-4 py-3 px-4 rounded-lg shadow-2xl shadow-blue-500 hover:-translate-y-2 transition-all"
            >
              My dearest projects
            </button>
          </a>
          <a href="/resume">
            <button
              class="bg-rose-500 hover:bg-rose-600 m-4 py-3 px-4 rounded-lg shadow-2xl shadow-rose-500 hover:-translate-y-2 transition-all"
            >
              Resume
            </button>
          </a>
        </div>
      </div>
    </section>

    <section
      class="grid min-h-screen place-items-center px-8 py-24 sm:py-32 lg:px-16"
      id="projects"
    >
      <h2 class="py-8 text-4xl font-semibold">
        My Projects <Tag text={`${projectsData.length}+`} />
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 grid-rows-masonry mt-8">
        {projectsData.map((project) => <ProjectCard project={project} />)}
      </div>
    </section>

    <section
      class="grid min-h-screen place-items-center px-8 py-24 sm:py-32 lg:px-16"
    >
      <h2 class="py-8 text-4xl font-semibold">Connect with me</h2>

      <div class="flex flex-col md:flex-row font-semibold mt-16">
        <a
          href="https://twitter.com/PavitraGolchha"
          target="_blank"
          rel="noreferrer"
        >
          <button
            class="bg-blue-500 hover:bg-blue-100 text-white hover:text-blue-700 shadow-2xl shadow-blue-500 font-bold m-4 py-2 px-4 rounded inline-flex items-center hover:-translate-y-2 transition-all"
          >
            <Icon name="tabler:brand-twitter" />
            <span class="pl-1">Twitter</span>
          </button>
        </a>
        <a href="https://github.com/pavi2410" target="_blank">
          <button
            class="bg-slate-800 hover:bg-slate-100 text-white hover:text-slate-700 shadow-2xl shadow-slate-700 font-bold m-4 py-2 px-4 rounded inline-flex items-center hover:-translate-y-2 transition-all"
          >
            <Icon name="tabler:brand-github" />
            <span class="pl-1">GitHub</span>
          </button>
        </a>
        <a href="https://linkedin.com/in/pavi2410" target="_blank">
          <button
            class="bg-indigo-500 hover:bg-indigo-100 text-white hover:text-indigo-700 shadow-2xl shadow-indigo-500 font-bold m-4 py-2 px-4 rounded inline-flex items-center hover:-translate-y-2 transition-all"
          >
            <Icon name="tabler:brand-linkedin" />
            <span class="pl-1">LinkedIn</span>
          </button>
        </a>
        <a href="https://youtube.com/c/PavitraGolchha" target="_blank">
          <button
            class="bg-red-500 hover:bg-red-100 text-white hover:text-red-700 shadow-2xl shadow-red-500 font-bold m-4 py-2 px-4 rounded inline-flex items-center hover:-translate-y-2 transition-all"
          >
            <Icon name="tabler:brand-youtube" />
            <span class="pl-1">YouTube</span>
          </button>
        </a>
        <a href="mailto:hello@pavi2410.com" target="_blank">
          <button
            class="bg-emerald-500 hover:bg-emerald-100 text-white hover:text-emerald-700 shadow-2xl shadow-emerald-500 font-bold m-4 py-2 px-4 rounded inline-flex items-center hover:-translate-y-2 transition-all"
          >
            <Icon name="tabler:mail" />
            <span class="pl-1">Email</span>
          </button>
        </a>
      </div>

      <p>See you again! 👋</p>
    </section>
  </div>
</BaseLayout>

<style>
  .pattern-background {
    background-image: url("/bg_light.svg");
    background-repeat: repeat;
    background-size: 100%;

    @media (prefers-color-scheme: dark) {
      background-image: url("/bg_dark.svg");
    }
  }

  @property --glow-opacity {
    syntax: "<number>";
    initial-value: 0.5;
    inherits: false;
  }

  .text-glow-green {
    text-shadow: 0px 0px 20px rgba(34 197 94 / var(--glow-opacity));
    animation: glow 1s ease-in-out infinite alternate;
  }

  .text-glow-blue {
    text-shadow: 0px 0px 20px rgba(59 130 246 / var(--glow-opacity));
    animation: glow 1s ease-in-out infinite alternate;
  }

  @keyframes glow {
    from {
      --glow-opacity: 0.5;
    }
    to {
      --glow-opacity: 0.9;
    }
  }
</style>
