---
import MyButton from "@/components/MyButton.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import SocialButton from "@/components/SocialButton.astro";
import Bg from "@/components/bg.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Tag from "@/components/Tag.astro";

import projectsData from "@/data/projects.json";
---

<BaseLayout title="Pavitra's Metaverse" description="Pavitra's Metaverse">
  <Bg />
  <div>
    <div class="container mx-auto max-w-4xl text-left">
      <div class="flex flex-col h-screen justify-center items-start space-y-16">
        <h1 class="text-2xl font-mono">
          <p class="font-mono">Hello World! 👋</p>
          <p>
            I'm <span class="text-green-500">Pavitra Golchha</span>
          </p>
          <p>
            and this is my <span class="text-blue-500">Metaverse</span><span
              class="blink">_</span
            >
          </p>
        </h1>

        <div class="text-2xl font-mono">
          You can find every info about me and my works here. Enjoy your stay
          here :)
        </div>

        <div class="flex flex-wrap justify-center items-center">
          <MyButton
            size="lg"
            url="https://blog.pavi2410.me"
            colorScheme="yellow"
          >
            Blog
          </MyButton>
          <MyButton size="lg" colorScheme="green">About</MyButton>
          <MyButton size="lg" url="#projects" colorScheme="purple">
            Projects
          </MyButton>
          <MyButton
            size="lg"
            url="https://resume.pavi2410.me"
            colorScheme="rose"
          >
            Resume
          </MyButton>
          <MyButton size="lg" url="/techstack" colorScheme="blue">
            Tech Stack
          </MyButton>
        </div>
      </div>
    </div>

    <div class="container mx-auto max-w-4xl" id="projects">
      <h2 class="py-8">
        My Projects <Tag text={`${projectsData.length}+`} />
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 grid-rows-masonry">
        {projectsData.map((project) => <ProjectCard project={project} />)}
      </div>
    </div>

    <div class="container mx-auto max-w-4xl py-16">
      <h2 class="py-8">Connect with me</h2>
      <div class="sm:grid sm:grid-cols-2 md:grid-cols-5 md:grid md:gap-8">
        <SocialButton
          icon={'tabler:brand-github'}
          title="Twitter"
          url="https://twitter.com/PavitraGolchha"
          color="twitter"
        />
        <SocialButton
          icon={'tabler:brand-linkedin'}
          title="GitHub"
          url="https://github.com/pavi2410"
          color="zinc"
        />
        <SocialButton
          icon={'tabler:brand-twitter'}
          title="LinkedIn"
          url="https://linkedin.com/in/pavi2410"
          color="linkedin"
        />
        <SocialButton
          icon={'tabler:brand-youtube'}
          title="YouTube"
          url="https://youtube.com/c/PavitraGolchha"
          color="red"
        />
        <SocialButton
          icon={'tabler:mail'}
          title="Email"
          url="mailto:hello@pavi2410.me"
          color="purple"
        />
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  .blink {
    animation: blinker 1s linear infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
</style>
