---
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<article class="transition-all hover:bg-neutral-200 hover:dark:bg-neutral-800">
  <a class="block py-8 px-4 md:px-2 space-y-2" href={"/blog/" + post.slug}>
    <header>
      <h1 class="font-bold text-xl">{post.data.title}</h1>
    </header>
    <p class="italic opacity-80">{post.data.excerpt}</p>
    <time class="text-end w-full text-sm opacity-50 float-end" datetime={post.data.publishDate.toISOString()}>
      {post.data.publishDate.toDateString()}
    </time>
  </a>
</article>
