---
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<article class="rounded-lg border hover:border-blue-500 p-4">
  <header>
    <a class="before:absolute hover:no-underline" href={"/blog/" + post.slug}>
      <h1 class="font-bold text-xl">{post.data.title}</h1>
    </a>
  </header>
  <p class="italic">{post.data.excerpt}</p>
  <time class="text-end" datetime={post.data.publishDate.toISOString()}>
    {post.data.publishDate.toDateString()}
  </time>
</article>
