---
import { Icon } from "astro-icon/components";

interface Props {
  href: string;
  label: string;
  icon: string;
  buttonClass: string;
}

const { href, label, icon, buttonClass } = Astro.props;

const baseClass =
  "flex items-center gap-2 px-5 sm:px-6 py-3 sm:py-4 rounded-full hover:backdrop-blur-md transition-all duration-300 hover:scale-110 text-sm sm:text-base";
---

<a href={href} target="_blank" rel="noreferrer" class="group">
  <button class:list={[baseClass, buttonClass]}>
    <Icon name={icon} class="text-xl sm:text-2xl" />
    <span>{label}</span>
  </button>
</a>
